@use "../../styles/typography" as *;
@use "../../styles/colors" as *;
@use "../../styles/mixins" as *;

.wrap {
  padding-top: to-rem(80px);
  padding-bottom: to-rem(80px);
  background-color: $darkblue-100;
  color: $white;
  overflow: hidden;

  @include media-breakpoint-up(md) {
    padding-top: to-rem(160px);
    padding-bottom: to-rem(160px);
  }
}

.container {
  @include containerGrid;
}

.title,
.items {
  @include media-breakpoint-only(sm) {
    padding-right: 58px;
    padding-left: 58px;
  }
}

.title {
  @include columns(1, 7, md);
  @include headerDesktopXl;

  margin-bottom: 0;
  color: $white;

  @include media-breakpoint-down(md) {
    @include headerDesktopLg;

    margin-bottom: to-rem(24px);
    text-align: center;
  }

  @include media-breakpoint-down(sm) {
    @include headerMobileXl;

    margin-bottom: to-rem(40px);
  }

  @include media-breakpoint-up(md) {
    margin-top: to-rem(120px);
  }

  &__short {
    @include media-breakpoint-up(md) {
      margin-top: to-rem(72px);
    }
  }

  &__xshort {
    @include media-breakpoint-up(md) {
      margin-top: to-rem(22px);
    }
  }
}

.items {
  @include columns(7, -1, md);
}
