@use "../../styles/colors" as *;
@use "../../styles/mixins" as *;
@use "../../styles/typography" as *;

.wrap {
  @include body5;

  padding-top: to-rem(8px);
  padding-bottom: to-rem(8px);
  background-color: $darkblue-100;
  color: $white;
}

.container {
  @include container;
}

.navList {
  @include listReset;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 27px;
}

.signUp {
  margin-right: auto;

  &_Intro {
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  &_Link {
    @include body6;
  }
}

.link {
  &,
  &:visited {
    color: $white;
  }

  &:hover,
  &:focus,
  &:active {
    color: $white;
    text-decoration: underline;
    text-underline-offset: to-rem(4px);
  }

  &__light {
    font-weight: inherit;
  }
}
