@use "../../styles/typography" as *;
@use "../../styles/colors" as *;
@use "../../styles/mixins" as *;
@use "../../styles/spacing";

.wrap {
  overflow: hidden;
}

.wrap,
.cta {
  background-color: $coolgray-300;

  &__hexagon {
    background-color: $charcoal-800;
  }
}

.cta {
  @include media-breakpoint-down(md) {
    overflow: hidden;
  }
}

.titleWrap {
  @include container;

  text-align: center;
}

.title {
  @include pageSectionHeader;

  margin-bottom: to-rem(spacing.$page-section-intro-margin-bottom);
  padding-top: to-rem(64px);
}

.container {
  @include container;

  position: relative;
}

.inner {
  display: flex;
  position: relative;
  align-items: center;
  min-height: 704px;

  @include media-breakpoint-down(md) {
    align-items: flex-end;
    min-height: 800px;
  }
}

.textWrap {
  @include grid;

  margin-top: 24px;
  margin-bottom: 24px;

  @include media-breakpoint-down(md) {
    &__circle {
      margin-bottom: 214px;
    }

    &__hexagon {
      margin-bottom: 220px;
    }

    &__triangle {
      margin-bottom: 270px;
    }
  }

  @include media-breakpoint-down(sm) {
    &__circle {
      margin-bottom: 220px;
    }

    &__hexagon {
      margin-bottom: 184px;
    }

    &__triangle {
      margin-bottom: 218px;
    }
  }
}

.textBox {
  position: relative;
  padding: 40px;
  background-color: $white;
  z-index: 1;

  &__left {
    @include columns(2, 8);

    @include media-breakpoint-down(lg) {
      @include columns(1, 8);
    }
  }

  &__right {
    @include columns(6, 12);

    @include media-breakpoint-down(lg) {
      @include columns(6, -1);
    }
  }

  @include media-breakpoint-down(md) {
    @include columns(2, 8);
  }

  &__triangle {
    margin-top: 24px;
  }
}

.ctaTitle {
  @include headerDesktopSm;

  margin-bottom: to-rem(spacing.$page-section-title-margin-bottom);
}

.content {
  @include body5;

  > :last-child {
    margin-bottom: 0;
  }
}

.link {
  margin-top: to-rem(32px);
}

.shape {
  position: absolute;
  top: 40px;
  left: 0;

  &__hexagon {
    right: 0;
    left: unset;
  }

  @include media-breakpoint-down(md) {
    top: 24px;

    svg {
      max-width: 100%;
      height: auto;
    }
  }

  @include media-breakpoint-down(sm) {
    margin-right: -(spacing.$container-padding-sm);
    margin-left: -(spacing.$container-padding-sm);
  }
}

.imgWrap {
  position: absolute;
  bottom: 0;
  z-index: 2;

  &__circle {
    left: 24px;

    @include media-breakpoint-only(md) {
      right: 51%;
      left: unset;
    }
  }

  &__hexagon {
    left: 50.1%;
  }

  &__triangle {
    left: 52.5%;
  }

  @include media-breakpoint-down(md) {
    left: 50%;
    transform: translateX(-50%);

    &__circle {
      bottom: -40px;

      .img {
        width: 313px;
      }
    }

    &__hexagon {
      bottom: -74px;

      .img {
        width: 431px;
      }
    }

    &__triangle {
      bottom: -80px;

      .img {
        width: 474px;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    left: 50%;
    transform: translateX(-50%);

    &__circle {
      bottom: -10px;

      .img {
        width: 268px;
      }
    }

    &__hexagon {
      .img {
        width: 390px;
      }
    }

    &__triangle {
      bottom: -40px;

      .img {
        width: 366px;
      }
    }
  }
}

.img {
  display: block;
  height: auto;
}
