@use "./spacing" as *;

@forward "@aleph/nought-sass-mixins" with (
  $grid-column-count: 12,
  $grid-column-gap: $grid-column-gap,
  $container-width: $container-width,
  $container-padding: $container-padding,
  $container-responsive-padding: (
    md: $container-padding-md,
    sm: $container-padding-sm,
  ),
  $grid-responsive-column-counts: (
    md: 8,
    sm: 4,
  ),
  $grid-responsive-column-gap: (
    md: $grid-column-gap-md,
  ),
  $grid-breakpoints: (
    xs: $breakpoint-xs,
    sm: $breakpoint-sm,
    md: $breakpoint-md,
    lg: $breakpoint-lg,
    xl: $breakpoint-xl,
  )
);

@mixin buttonReset() {
  padding: 0;
  border: 0;
  background: transparent;
  color: inherit;
  font-family: inherit;
  cursor: pointer;
  appearance: none;
}

@mixin listReset() {
  margin: 0;
  padding: 0;
  list-style: none;
}
