@use "../../styles/typography" as *;
@use "../../styles/colors" as *;
@use "../../styles/mixins" as *;
@use "../../styles/spacing";

.wrap {
  @include pageSectionWrap;

  &__bgwhite {
    background-color: $white;
  }

  &__bgdarkBlue {
    background-color: $darkblue-100;
  }
}

.wrapInner {
  position: relative;
}

.bgWrap {
  position: absolute;
  inset: 0;
}

.bgContainer {
  @include container;

  position: relative;
  height: 100%;
}

.shapesColoredDots {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 100%;
  height: auto;
  transform: translate(-50%, -50%);
}

.fgWrap {
  position: relative;
}

.introWrap {
  @include containerGrid;

  margin-bottom: to-rem(spacing.$page-section-intro-margin-bottom);
}

.intro {
  @include pageSectionColumns;

  text-align: center;

  > :last-child {
    margin-bottom: 0;
  }
}

.title {
  @include pageSectionHeader;

  .wrap__bgdarkBlue & {
    color: $white;
  }
}

.text {
  :global(.styledLink):not(:last-child) {
    margin-bottom: to-rem(spacing.$p-margin-bottom);
  }

  > :last-child {
    margin-bottom: 0;
  }

  .wrap__bgdarkBlue & {
    color: $white;

    a {
      color: $link-color-on-dark;
    }
  }
}

.innerBlocks {
  > :not(:last-child) {
    margin-bottom: to-rem(40px);
  }
}
