@use "../../../styles/typography" as *;
@use "../../../styles/colors" as *;
@use "../../../styles/mixins" as *;

.item {
  &:not(:first-child) {
    border-top: 1px solid $white;
  }
}

.title {
  margin-bottom: 0;
}

.titleButton {
  @include buttonReset;
  @include headerDesktopSm;

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: to-rem(40);
  padding-bottom: to-rem(40);
  column-gap: 24px;
  color: $white;
  text-align: left;

  @include media-breakpoint-down(sm) {
    @include headerMobileSm;

    padding-top: to-rem(24);
    padding-bottom: to-rem(24);
  }
}

.plusMinus {
  position: relative;
  flex-shrink: 0;
  width: 32px;
  height: 32px;

  &__h,
  &__v {
    position: absolute;
    background-color: $white;
  }

  &__h {
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    transform: translateY(-50%);
  }

  &__v {
    top: 0;
    left: 50%;
    width: 2px;
    height: 100%;
    transform: translateX(-50%);
  }

  &__open {
    .plusMinus__v {
      display: none;
    }
  }
}

.text {
  margin-bottom: to-rem(40);

  @include media-breakpoint-down(sm) {
    margin-bottom: to-rem(24);
  }

  > :last-child {
    margin-bottom: 0;
  }

  a {
    color: $link-color-on-dark;
  }
}
