@use "../../styles/typography" as *;
@use "../../styles/colors" as *;
@use "../../styles/mixins" as *;
@use "../../styles/spacing";

.container {
  @include containerGrid;

  align-items: center;
  row-gap: to-rem(24px);
}

.imgWrap,
.textWrap {
  @include columns(1, -1);

  @include media-breakpoint-up(sm) {
    @include columns(2, 8);
  }

  @include media-breakpoint-up(md) {
    @include spanColumns(6);

    grid-row: 1;
  }
}

.imgWrap {
  @include media-breakpoint-up(lg) {
    padding: 40px;
  }

  @include media-breakpoint-down(lg) {
    padding: 0 !important; // override user-input padding
  }
}

.imgWrap__right {
  @include media-breakpoint-up(md) {
    @include columns(7, -1);
  }
}

.img {
  max-width: 100%;
  height: auto;
}

.textWrap {
  @include media-breakpoint-up(lg) {
    padding-right: 40px;
    padding-left: 40px;
  }

  > :last-child {
    margin-bottom: 0;
  }

  .container__bgdarkBlue & {
    > * {
      color: $white;
    }
  }
}

.title {
  @include h3;
}
