@use "../../styles/typography" as *;
@use "../../styles/colors" as *;
@use "../../styles/mixins" as *;
@use "../../styles/spacing";

.wrap {
  padding-top: to-rem(64);
  padding-bottom: to-rem(64);
  overflow: hidden;

  @include media-breakpoint-down(md) {
    padding-top: to-rem(40);
    padding-bottom: to-rem(40);
  }

  &__bgwhite {
    background-color: $white;
  }

  &__bgdarkBlue {
    background-color: $darkblue-100;
  }
}

.wrapInner {
  position: relative;
}

.bgWrap {
  position: absolute;
  inset: 0;
}

.bgContainer {
  @include container;

  position: relative;
  height: 100%;
}

.shapesColoredDots {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 100%;
  height: auto;
  transform: translate(-50%, -50%);
}

.fgWrap {
  position: relative;
}

.titleWrap {
  @include containerGrid;

  text-align: center;
}

.title {
  @include columns(3, 11);
  @include headerDesktopMd;

  margin-bottom: to-rem(40);

  @include media-breakpoint-down(md) {
    @include columns(1, -1);
    @include headerMobileMd;

    margin-bottom: to-rem(24);
  }

  .wrap__bgdarkBlue & {
    color: $white;
  }
}
