@use "../../styles/colors" as *;
@use "../../styles/mixins" as *;
@use "../../styles/spacing" as *;
@use "../../styles/typography" as *;

$inner-padding-h: 42px;

.wrap {
  background-color: $white;
}

.container {
  @include container;
}

.inner {
  padding: to-rem(40) 24px;
  transform: translateY(to-rem(-40));
  background-color: $white;
  box-shadow: 5px 15px 46px rgba(0 0 0 / 15%);

  @include media-breakpoint-up(md) {
    margin-right: -$inner-padding-h;
    margin-left: -$inner-padding-h;
    padding: to-rem(64) $inner-padding-h;
    transform: translateY(to-rem(-64));
  }
}

.header {
  @include headerMobileMd;

  margin-bottom: to-rem(40);
  text-align: center;

  @include media-breakpoint-up(md) {
    @include headerDesktopMd;
  }
}

.ctas {
  @include grid;

  row-gap: to-rem(64);

  @include media-breakpoint-up(sm) {
    row-gap: to-rem(80);
  }
}

.cta {
  @include columns(2, 8);

  @include media-breakpoint-up(sm) {
    @include columns(3, 7);
  }

  @include media-breakpoint-up(md) {
    @include spanColumns(4);

    padding-bottom: to-rem(40);
  }

  &_Image {
    max-width: 100%;
    height: auto;
  }

  &_Title {
    @include headerMobileSm;

    margin-top: to-rem(24);
    margin-bottom: 0;
    text-align: center;

    @include media-breakpoint-up(md) {
      @include headerDesktopSm;
    }
  }

  &_Button {
    margin-top: to-rem(24);
  }
}
