$pink-100: #92374f;
$pink-200: #c34969;
$pink-300: #f45b83;
$pink-400: #f67c9c;
$pink-500: #f89db5;
$pink-600: #fbbdcd;
$pink-700: #fddee6;
$pink-800: #feeff3;
$yellow-100: #957205;
$yellow-200: #c69806;
$yellow-300: #f8be08;
$yellow-400: #f9cb39;
$yellow-500: #fbd86b;
$yellow-600: #fce59c;
$yellow-700: #fef2ce;
$yellow-800: #fef9e6;
$green-100: #497144;
$green-200: #62965a;
$green-300: #7abc71;
$green-400: #95c98d;
$green-500: #afd7aa;
$green-600: #cae4c6;
$green-700: #e4f2e3;
$green-800: #f2f8f1;
$darkblue-100: #262e47;
$darkblue-200: #323d5f;
$darkblue-300: #3f4c77;
$darkblue-400: #657092;
$darkblue-500: #8c94ad;
$darkblue-600: #b2b7c9;
$darkblue-700: #d9dbe4;
$darkblue-800: #ecedf1;
$warmgray-100: #c2bcb6;
$warmgray-200: #dad4cd;
$warmgray-300: #f2ebe4;
$warmgray-400: #f5efe9;
$warmgray-500: #f7f3ef;
$warmgray-600: #faf7f4;
$warmgray-700: #fcfbfa;
$warmgray-800: #fefdfc;
$coolgray-100: #c2c2c2;
$coolgray-200: #dadada;
$coolgray-300: #f2f2f2;
$coolgray-400: #f5f5f5;
$coolgray-500: #f7f7f7;
$coolgray-600: #fafafa;
$coolgray-700: #fcfcfc;
$coolgray-800: #fefefe;
$darkgray-100: #5f5f5f;
$darkgray-200: #6b6b6b;
$darkgray-300: #777;
$darkgray-400: #929292;
$darkgray-500: #adadad;
$darkgray-600: #c9c9c9;
$darkgray-700: #e4e4e4;
$darkgray-800: #f1f1f1;
$seafoam-100: #adb4b7;
$seafoam-200: #c2cbce;
$seafoam-300: #d8e1e5;
$seafoam-400: #e0e7ea;
$seafoam-500: #e8edef;
$seafoam-600: #eff3f5;
$seafoam-700: #f7f9fa;
$seafoam-800: #fbfcfc;
$red-100: #8d1b0a;
$red-200: #a21f0b;
$red-300: #ca270e;
$red-400: #d5523e;
$red-500: #df7d6e;
$red-600: #eaa99f;
$red-700: #f4d4cf;
$red-800: #fae9e7;
$blue-100: #074e88;
$blue-200: #08599b;
$blue-300: #0a6fc2;
$blue-400: #3b8cce;
$blue-500: #6ca9da;
$blue-600: #9dc5e7;
$blue-700: #cee2f3;
$blue-800: #e7f1f9;
$charcoal-100: #272727;
$charcoal-200: #2c2d2c;
$charcoal-300: #373837;
$charcoal-400: #5f605f;
$charcoal-500: #878887;
$charcoal-600: #afafaf;
$charcoal-700: #d7d7d7;
$charcoal-800: #ebebeb;
$teal-100: #448a8b;
$teal-200: #4e9e9f;
$teal-300: #61c5c7;
$teal-400: #81d1d2;
$teal-500: #a0dcdd;
$teal-600: #c0e8e9;
$teal-700: #dff3f4;
$teal-800: #eff9f9;
$white: #fff;
$body-text-color: $charcoal-300;
$link-color-on-dark: $blue-500;
