$container-width: 1174px;
$container-padding: 96px;
$container-padding-md: 38px;
$container-padding-sm: 20px;
$grid-column-gap: 24px;
$grid-column-gap-md: 16px;
$spacing-xx-large: 80px;
$spacing-x-large: 64px;
$spacing-large: 40px;
$spacing-medium: 32px;
$spacing-standard: 24px;
$spacing-small: 16px;
$spacing-x-small: 8px;
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$p-margin-bottom: 24px;
$page-section-intro-margin-bottom: 40px;
$page-section-title-margin-bottom: 24px;
$case-study-subsection-padding: $spacing-large;
$case-study-subsection-padding-h-mobile: $spacing-standard;
