@use "../../styles/colors" as *;
@use "../../styles/mixins" as *;
@use "../../styles/typography" as *;

.header {
  position: sticky;
  top: 0;
  background-color: $white;
  z-index: 100;

  @include media-breakpoint-down(lg) {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.container {
  @include container;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brandLink {
  svg {
    display: block;
    width: 114px;
    max-width: 100%;
    height: auto;

    @include media-breakpoint-down(lg) {
      width: 123px;
    }
  }
}
